/* RIGHT SIDE-BAR */

.right-sidebar {
    background-color: #E2E8F0;
    margin: 10px;
    padding-right: 15px;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.right-sidebar > h4 {
    font-weight: 600;
}

.upcoming {
    background-color: #FFFFFF;
    box-shadow: 3px 3px rgb(225, 226, 226);
    border-radius: 5px;
    margin-left: 14px;
    height: 60%;
    display:flex;
    flex-direction: column;
}

.right-sidebar a {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -0.05ch;
}

.upcoming div {
    padding: 10px;
    font-size: 0.7em;
    border-bottom: 2px solid rgb(190, 188, 188);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}