body {
    display: grid;
    grid-template-columns: 1fr 2.3fr 2.3fr;
    grid-template-rows: 80px 805px;
}



/* HEADER */

header {
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    grid-column: 2 / span 2;
    grid-row: 1 / 1;
    padding: 10px 20px;
}

.nav-bar-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-icon {
    width: 15px;
    height: 15px;
}

.search-bar {
    background-color: #E2E8F0;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 25px;
    margin-left: 10px;
    margin-right: auto;
}

.notifications-icon {
    width: 20px;
    height: 20px;
}

.member-avatar-1 {
    width: 35px;
    height: 35px;
    margin: 0 20px;
}

header p {
    font-weight: bold;
    font-size: 0.8em;
}

.user-info {
    margin-right: auto;
}



/* DASHBOARD */

button a,
.dashboard a {
    color: white;
}

.dashboard {
    background-color: #1A92D3;
    color: white;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 98.9%;
}

#dashboard-title {
    display: flex;
    font-size: 0.9em;
    letter-spacing: 0.05ch;
}

#dashboard-title img {
    width: 30px;
    margin-right: 5px;
}

.main-menu {
    font-weight: 500;
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: 1fr 9fr 2.14fr;
    gap: 25px;
}

.menu-section-1 {
    grid-row: 1;
}

.menu-section-2 {
    grid-row: 2;
}

.menu-section-3 {
    grid-row: 3;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.menu-item:hover {
    background-color: #1f88c1;
}

.menu-item img {
    width: 16px;
    height: 16px;
    margin: 0 12px;
}

h3 {
    font-size: 0.95em;
    font-weight: 600;
}

.add-project {
    width: 1.5em;
    margin-top: 3px;
    cursor: pointer;
    background-color: #1A92D3;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item:hover .add-project {
    background-color: #1f88c1;
    border-radius: 5px;
}

.project-list {
    padding-right: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.95em;
}

.project {
    display: grid;
    grid-template-columns: 40px 15px 120px;
    grid-template-rows: 25px;
    background-color: #1A92D3;
}

.delete-project {
    grid-column: 2;
    grid-row: 1;
    height: 20px;
    margin-top: 4px;
    cursor: pointer;
    background-color: #1A92D3;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.delete-project:hover {
    /* display: block; */
    background-color: #1f88c1;
}

/* .delete-project img {
    display: none;
}

.delete-project img:hover {
    display: block;
} */


.project-title {
    grid-column: 3;
    grid-row: 1;
    width: 95%;
    background-color: #1A92D3;
    color: white;
    border: none;
    cursor: default;
}

.project-title:hover {
    background-color: #1f88c1;
}

.project-title:focus {
    border: none;
    background-color: #1f88c1;
    border-radius: 5px;
    cursor: auto;
}



/* MAIN CONTENT */

.main-content {
    background-color: #E2E8F0;
    margin: 10px;
    grid-column: 2;
    grid-row: 2;
    padding-top: 15px;
    display: grid;
    grid-template-rows: 0.5fr 6fr 50px;
    gap: 10px;
}

.current-project {
    background-color: rgba(12, 12, 12, 0.2);
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.current-project {
    grid-row: 1;
}

.task-list-container {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Task Card */
.task-card {
    height: 50px;
    width: 90%;
    margin-top: 5px;
    box-shadow: 3px 3px rgb(225, 226, 226);
    border-left: 5px solid #F0B42A;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 0.5fr 8fr 2fr ;
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.task-card input {
    grid-column: 2;
    height: 90%;
    width: 95%;
    font-size: 1em;
    border: none;
    cursor: default;
}

.task-icons-container {
    grid-column: 3;
    height: 90%;
    margin-top: 3px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.task-icons {
    cursor: pointer;
    height: 20px;
}

.completed-task {
    text-decoration: line-through;
}

#due-date-input {
    display: none;
    position: absolute;
    top: 182px;
    left: 485px;
    z-index: 1000; /* Ensure it appears above other elements */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: auto; 
    height: 20px; 
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Add Task input field */
.new-task-wrapper {
    position: relative;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-title {
    margin-left: 12px;
    padding-left: 30px;
    width: 95%;
    height: 70%;
    border: 1px solid #323638;
    border-radius: 6px;
    background-color: #b9e0f3;
    box-sizing: border-box;
}

.add-task-icon-wrapper {
    position: absolute;
    left: 10px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicks to pass through the icon */
}

.add-task-icon {
    background: none;
    border: none;
    margin-top: 3px;
}



/* RIGHT SIDE-BAR */

.right-sidebar {
    background-color: #E2E8F0;
    margin: 10px;
    padding-right: 15px;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.right-sidebar > h4 {
    font-weight: 600;
}

.upcoming {
    background-color: #FFFFFF;
    box-shadow: 3px 3px rgb(225, 226, 226);
    border-radius: 5px;
    margin-left: 14px;
    height: 60%;
    display:flex;
    flex-direction: column;
}

.right-sidebar a {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -0.05ch;
}

.upcoming div {
    padding: 10px;
    font-size: 0.7em;
    border-bottom: 2px solid rgb(190, 188, 188);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}